<ion-header>
  <ion-toolbar>

    <ion-title>Moja etno-sela </ion-title>

    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-label slot = "end">Moj profil: {{userEmail}}</ion-label>

  </ion-toolbar>
</ion-header>



<ion-content class = "ion-padding">
  <ion-searchbar
    placeholder='Pretraži' [(ngModel)] = "searchTerm"
    showCancelButton="focus"
    animated
  >
  </ion-searchbar>

  <ion-list>
    <!-- [routerLink]="es.id"-->
    <app-etnoselo-element *ngFor = "let es of etnosela | filter:searchTerm " [etnoselo] = "es" ></app-etnoselo-element>
  </ion-list>

</ion-content>
