<ion-header>
  <ion-toolbar>

    <ion-title> Najlepša etno-sela Srbije </ion-title>

    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-buttons slot = "end">
      <!-- (click) = "openModal()" -->
      <ion-fab-button size = "small">
        <ion-icon name = "add-circle-outline" (click) = "openModal()"></ion-icon>
      </ion-fab-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content class = "ion-padding">
  <ion-searchbar
  placeholder='Pretraži'
  [(ngModel)] = "searchTerm"
  showCancelButton="focus"
  animated
  >
  </ion-searchbar>

  <ion-list>
    <!-- [routerLink]="es.id"-->
    <app-etnoselo-element *ngFor = "let es of etnosela | filter:searchTerm " [etnoselo] = "es" ></app-etnoselo-element>
  </ion-list>

</ion-content>
