ion-icon {
  font-size: 60px;
}
ion-content{
  --background: var(--ion-color-secondary);
}
ion-card{
  --background: var(--ion-color-primary);
  text-align: center;
}
p{
  text-align: justify;
  color: #0d0d0d;
}
img {
  width: 600px;
}

