/*ion-toolbar{
  --background: var(--ion-color-tertiary);
  --color: var(--ion-color-tertiary-contrast);
}*/
ion-content {
  --background: url('https://bookaweb.s3.eu-central-1.amazonaws.com/assets/60488ce7151a1.jpg') no-repeat center/cover fixed;
}

